@import 'reset';

$font-family: "futura-pt",sans-serif;
$primary-color: #2db7a6;
$mid-grey: #61666a;

body {
  font-family: $font-family;
  color: $mid-grey;
}
a, a:hover, a:active, a:visited {
  color: $mid-grey;
  text-decoration: none;
}
.clearfix {
  clear:both;
  float: none !important;
}
::placeholder {
  text-transform: uppercase;
}
h2 {
  text-align: center;
  margin: 20px 0 50px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color:#000;
}
h3 {
  text-align: center;
  font-size: 18px;
  color: #4a4a4a;
  margin: 25px auto;
  text-transform: uppercase;
  font-weight: 700;
}

.top-bar {
  min-height: 35px;
  background-color: $mid-grey;
  color: #FFF;
  position: relative;
  width:100%;
  p {
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 11px;
  }
  .free-shipping-icon  {
    right:5px;
    top:0;
    position: absolute;
    height: 32px;
    border-bottom: 3px solid $primary-color;
    img {
      width: 30px;
      height: 30px;
      margin-top: 2px;
    }
  }
}
.user-cart {
  padding: 1px 40px;
  font-size: 11px;
  text-transform: uppercase;
  color: $mid-grey;
  p {
    float:left;
    line-height: 24px;
  }
  div {
    float:right;
  }
  .btn-user {
    background: url("../img/svg/ic-user.svg") no-repeat right center;
    padding: 3px 15px;
    margin-right: 5px;
  }
  .btn-cart {
    display: inline-block;
    background: url("../img/svg/ic-cart.svg") no-repeat right center;
    background-size: 16px 13px;
    padding: 3px 15px 3px 15px;
    span {
      background-color: $primary-color;
      color:#FFF;
      margin: 0 5px;
      border-radius: 50%;
      font-weight: 700;
      line-height: 18px;
      height:18px;
      width:18px;
      text-align: center;
      display: inline-block;
    }
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  width: 100%;
  margin: 0;
  background: hsla(0,0%,100%,.98);
  height:145px;
  nav {
    ul {
      li {
        a {
          text-transform: uppercase;
          font-size: 13px;
        }
        margin: 0 15px;
      }
      li:first-child {
        margin-left: 5%;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  .dropdown {
    img {
      margin-left: 2px;
    }
    display: flex;
    align-items: center;
  }
  .star-wars-header {
    font-weight: bold;
  }
}
.breadcrumb {
  padding: 0 40px;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-top: 150px;
  line-height: 40px;
  ul {
    display: flex;
    align-items: center;
  }
  li:not(:first-child):before {
    content: "\002F";
    margin: 0 1em;
    color: #aaa;
  }
  li {
    color: #aaa;
  }
  li:last-child {
    color:$mid-grey;
  }
}
.lookbooks {
  text-align: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.book {
  position: relative;
  img {
    width:100%;
  }
}
img.loading {
  background: transparent url("../img/loader.gif") center no-repeat;
}
.preview {
  position: relative;
  margin: 30px 0;
  cursor: pointer;
  img {
    opacity: 1;
    transition: opacity .4s ease-in-out;
  }
  span {
    position: absolute;
    top:0;left:0;bottom:0;right:0;
    margin: auto;
    width: 175px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    display:block;
    z-index: 999;
    transition: all .4s ease-in-out;
  }
}
.preview:hover {
  img {
    opacity: 0.4;
  }
  span {
    background-color: transparent;
    font-size: 15px;
    color: #000;
  }
}
.btn-close {
  width:100%;
  position: sticky;
  background-color: #FFF;
  bottom:0;left:0;right:0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 15px;
}
.close-triangle {
  cursor: pointer;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 17.3px;
  border-color: transparent transparent #aaa;
  margin: 0 auto;
}
.opened {
  display: none;
  position: relative;
}
.book-divisor {
  margin: 0 auto 70px;
  border-color: #eee;
}
footer {
  background: #000;
  color: #fff;
  padding: 50px 0;
  margin-top: 50px;
}
.email {
  h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color:#FFF;
  }
  p {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
  }
  form {
    max-width:380px;
    background-color:#FFF;
    margin:20px auto;
    display: flex;
    input {
      border: 0;
      padding: 10px 20px;
      font-size: 14px;
      font-family: $font-family;
      width:38%;
    }
    button {
      cursor: pointer;
      background: #666;
      border: 0;
      color: #fff;
      padding: 10px 30px;
      border: 5px solid #fff;
      transition: all .3s;
      text-transform: uppercase;
      font-size: 14px;
      font-family: $font-family;
    }
    button:hover {
      background: hsla(0,0%,100%,.3);
      color: #000;
    }
  }
}
.bg-stars {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top:0;left:0;bottom:0;right:0;
  margin: auto;
  background-color: #000;
  background-image: radial-gradient(#fff,hsla(0,0%,100%,.2) 2px,transparent 10px),radial-gradient(#fff,hsla(0,0%,100%,.1) 2px,transparent 5px),radial-gradient(#fff,hsla(0,0%,100%,.1) 2px,transparent 5px),radial-gradient(#fff,hsla(0,0%,100%,.1) 2px,transparent 5px),radial-gradient(#fff,hsla(0,0%,100%,.1) 1px,transparent 5px),radial-gradient(#fff,hsla(0,0%,100%,.1) 2px,transparent 5px),radial-gradient(#fff,hsla(0,0%,100%,.1) 2px,transparent 5px),radial-gradient(#fff,hsla(0,0%,100%,.1) 2px,transparent 5px),radial-gradient(#fff,hsla(0,0%,100%,.1) 1px,transparent 5px),radial-gradient(#fff,hsla(0,0%,100%,.1) 2px,transparent 5px),radial-gradient(hsla(0,0%,100%,.4),hsla(0,0%,100%,.1) 2px,transparent 4px);
  background-size: 500px 500px,270px 110px,380px 310px,170px 150px;
  background-position: 41px -20px,10px 105px,170px -130px,30px -90px,60px 100px,40px 60px,-34px 26px,-36px -22px;
  animation: h 4s ease-in infinite forwards;
}
.footer-content {
  z-index:2;
  position: relative;
}
.nav-star {
  position: relative;
  padding-bottom: 30px;
  .nav-footer {
    display: flex;
    width: 100%;
    padding: 100px 0 30px;
    justify-content: space-around;
    flex-basis: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-transform: uppercase;
    div:last-child {
      border-left: 1px solid #444;
      padding-left: 50px;
      height: 100%;
    }
    p {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 10px;
      letter-spacing: .5px;
    }
    ul {
      margin-bottom: 30px;
    }
    li {
      margin-bottom: 5px;
    }
    a {
      text-align: left;
      color: #bbb8b8;
      font-size: 13px;
    }
    a.star-wars-footer {
      color: #fadc00;
    }
    .social-menu-footer {
      display: flex;
      justify-content: space-around;
      padding-top: 5px;
    }
    .ic-fb {
      width: 7px;
      height: 13px;
    }
    .ic-insta {
      width: 13px;
      height: 13px;
    }
    .ic-pint {
      width: 10px;
      height: 13px;
    }
    .ic-vimeo {
      width: 16px;
      height: 13px;
    }
  }
  .star-wars {
    display: flex;
    padding: 30px 0 0;
    border-top: 1px solid #444;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    div {
      flex: 1;
      width: 50%;
      margin: 0 10px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    div:nth-child(2) {
      flex: 2;
      max-width: 295px;
      padding: 0 10px;
    }
    div:last-child {
      img {
        margin: 10px 0;
      }
    }
    .star-wars-logo {
      width: 80px;
      height:111px;
    }
    p {
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      margin-bottom: 10px;
      margin-top: 0;
      line-height: 18px;
      font-size: 14px;
    }
    a {
      background: #fadc00;
      padding: 10px;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      display: inline-block;
      text-align: center;
      width: 100%;
      transition: .4s ease;
      font-size: 13px;
    }
    a:hover {
      background: #c3ac03;
      color: #fff;
    }
  }
}
.footer-widget {
  margin: 15px auto!important;
  height: auto;
  max-width: 350px;
  .logo-footer {
    margin: 0 auto 40px;
    display: block;
  }
  .text-footer {
    text-align: justify;
    max-width: 300px;
    margin: 10px auto;
    color: #bbb8b8;
    font-size: 14px;
    line-height: 21px;
    p {
      margin: 10px 0;
    }
    p:last-child {
      font-weight: bold;
      text-align: left;
    }
  }
  hr {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    background: #737373;
    width: 100%;
    border-color: hsla(0,0%,77%,.24);
    border-bottom: 0;
  }
  .copyright, .address {
    font-size:12px;
    text-align: center;
    margin-bottom: 15px;
  }
}
.payment {
  margin-top: 60px;
  justify-content: center;
  display: flex;
  img {
    height: 100%;
    width: 100%;
    max-width: 300px;
  }
}
.security {
  margin: 60px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  a {
    margin: 0 15px;
  }
  .pci {
    width: 50px;
    height: 45px;
  }
}
.consumer-nav {
  ul {
    display: flex;
    text-transform: none;
    justify-content: center;
  }
  li:not(:last-child):after {
    content: "\007C";
    margin-right: 5px;
    margin-left: 5px;
  }
  a {
    font-size: 11px;
    color: #bbb8b8;
  }
}
@media (max-width: 767px) {
  header {
    nav {
      display:none;
    }
    height:90px;
  }
  .breadcrumb {
    margin-top: 95px;
  }
  .user-cart {
    p {
      float: none;
      text-align: center;
      line-height: 24px;
    }
    div {
      float: none;
      text-align: center;
    }
  }
  .bg-stars {
    display: none;
  }
}
@keyframes h {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}
